<h1>{{subject}}</h1>

<div *ngIf="comments">
    <ul>
        <li *ngFor="let comment of comments">
            <div  class="spoilerCover" *ngIf="comment.isspoiler && !spoilersShown()">
                <button (click)="showSpoilers()">Show Spoilers</button>
            </div>
            <div class="commentContent" *ngIf="!comment.isspoiler || spoilersShown()">
                <a routerLink="/user/{{comment.username}}" class="username">{{ comment.username }}</a>
                <div class="commenttext">{{comment.text}}</div>
            </div>
        </li>
    </ul>
</div>

<div id="input">
    <h3>New Comment</h3>
    <form>
        <input type="text" placeholder="Comment" id="comment" [(ngModel)]="newComment.text" [ngModelOptions]="{standalone: true}" required><br>
        <button (click)="postComment()">Post Comment</button>
        <input type="checkbox" id="spoiler" [(ngModel)]="newComment.isspoiler" [ngModelOptions]="{standalone: true}">
        <label>Spoiler</label>
    </form>
</div>